name: build

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        rails: ['8.1', '8.0', '7.2', '7.1', '7.0', '6.1']                               # we add ".0" in the Gemfile so latest patch version used
        ruby: [ruby-3.4, ruby-3.3, ruby-3.2, ruby-3.1, ruby-3.0, jruby-10.0, jruby-9.4] # ruby/setup-ruby will use latest patch version
        sprockets: ['4', '3']
        include:
          # Rails 6.1 on JRuby 9.3
          - rails: '6.1'
            ruby: jruby-9.3
            sprockets: '4'
          - rails: '6.1'
            ruby: jruby-9.3
            sprockets: '3'
          # Rails 6.0 on Ruby 2.7
          - rails: '6.0'
            ruby: ruby-2.7
            sprockets: '4'
          - rails: '6.0'
            ruby: ruby-2.7
            sprockets: '3'
          # Rails 5.2 on Ruby 2.6
          - rails: '5.2'
            ruby: ruby-2.6
            sprockets: '4'
          - rails: '5.2'
            ruby: ruby-2.6
            sprockets: '3'
        exclude:
          # Rails 8.0/8.1 doesn't support Ruby 3.0/3.1 and JRuby 9.4
          - rails: '8.1'
            ruby: ruby-3.1
          - rails: '8.1'
            ruby: ruby-3.0
          - rails: '8.1'
            ruby: jruby-9.4
          - rails: '8.0'
            ruby: ruby-3.1
          - rails: '8.0'
            ruby: ruby-3.0
          - rails: '8.0'
            ruby: jruby-9.4
          # Rails 7.2 doesn't support Ruby 3.0
          - rails: '7.2'
            ruby: ruby-3.0
    name: "Rails ${{ matrix.rails }} with Sprockets ${{ matrix.sprockets }} on ${{ matrix.ruby }}"
    env:
      RAILS_VER: ${{ matrix.rails }}
      RUBY_VER: ${{ matrix.ruby }}
      SPROCKETS_VER: ${{ matrix.sprockets }}
    steps:
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        cache-version: rails-${{ matrix.rails }}-sprockets-${{ matrix.sprockets }}
        bundler-cache: true
    - run: npm install phantomjs-prebuilt@2.1.16 && echo $PWD/node_modules/phantomjs-prebuilt/bin >> $GITHUB_PATH
    - run: OPENSSL_CONF=/dev/null bundle exec rake
